.img-slide1{
    background-image: linear-gradient(rgb(10,10,10,0.8),rgb(10,10,10,0.8),rgb(10,10,10,0.8)), url(images/admin.jpg);
    background-size: cover;
    height: 600px;
}
.img-slide2{
    background-image: linear-gradient(rgb(10,10,10,0.8),rgb(10,10,10,0.8),rgb(10,10,10,0.8)), url(images/cartel.jpg);
    background-size: cover;
    height: 600px;
}
.img-slide3{
    background-image: linear-gradient(rgb(10,10,10,0.8),rgb(10,10,10,0.8),rgb(10,10,10,0.8)), url(images/try\ up.jpg);
    background-size: cover;
    height: 600px;
}
.img-slide4{
    background-image: linear-gradient(rgb(10,10,10,0.8),rgb(10,10,10,0.8),rgb(10,10,10,0.8)), url(images/matric1.jpg);
    background-size: cover;
    height: 600px;
}
.img-slide5{
    background-image: linear-gradient(rgb(10,10,10,0.8),rgb(10,10,10,0.8),rgb(10,10,10,0.8)), url(images/oath.jpg);
    background-size: cover;
    height: 600px;
}
.img-slide6{
    background-image: linear-gradient(rgb(10,10,10,0.8),rgb(10,10,10,0.8),rgb(10,10,10,0.8)), url(images/top\ image.jpg);
    background-size: cover;
    height: 600px;
}
.img-slide7{
    background-image: linear-gradient(rgb(10,10,10,0.8),rgb(10,10,10,0.8),rgb(10,10,10,0.8)), url(images/vc\ main.jpg);
    background-size: cover;
    height: 600px;
}
.basup{
    margin-top: 120px;
}